@use 'sass:map';

@function fallback-font($font) {
  @return $font -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

$typography: (
  'title': (
    'family': fallback-font("Arial"),
    'size': 3rem,
    'line-height': 3.2rem,
    'weight': 600,
  ),
  'subtitle': (
    'family': fallback-font("Arial"),
    'size': 2rem,
    'line-height': 2.2rem,
    'weight': 600,
  ),
  'paragraph': (
    'family': fallback-font("Arial"),
    'size': 1rem,
    'line-height': 1.2rem,
    'weight': 500,
  ),
  'button': (
    'family': fallback-font("Arial"),
    'size': 1rem,
    'line-height': 1.2rem,
    'weight': 500,
  ),
);

@mixin assign-font($font-key) {
  $found-font: map.get($typography, $font-key);

  font-family: map.get($found-font, 'family');
  font-size: map.get($found-font, 'size');
  line-height: map.get($found-font, 'line-height');
  font-weight: map.get($found-font, 'weigth');
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

